PORT=3000
NODE_ENV=development

# Configuration Base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=hosebank_db
DB_PORT=3306

# Secret de session
SESSION_SECRET=hosbank_super_secret_key_2026